/********************** BANNER **********************/

/* Are you hiring in a bushfire */
#bushfire{
    padding: 22px 0;
    text-align: center;
    a{
        color: $blue;
    }
}

/* Sign in or Register */
#info{
        font-size: 0.8rem;
        font-weight: bold;
        border: 1.5px solid;
        border-radius: 50%;
        display: inline-block;
        padding: 0.5px 6.5px;
        margin-right: 10px;
        cursor: default;
}

#save-searches{
    padding: 40px 0;
    text-align: center;
    a{
        color: $blue;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

#banner{  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 350px;
    text-transform: uppercase;
    font-weight: bold;
    background: url("img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: "";
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    p{    
        font-size: 2rem;
        padding: 20px;
        z-index: 10;
        color: $white;
        text-shadow: -2px 2px 2px $black;
        font-family: 'Luckiest Guy', sans-serif;
        letter-spacing: 0.2rem;
    }
    span:first-of-type{
        color: $pink-2;
        font-family: 'Luckiest Guy', sans-serif;
        letter-spacing: 0.2rem;
    }
    span:last-of-type{
        white-space: nowrap;
    }
    button{
        text-transform: capitalize;
        background: $blue;
        z-index: 99;
        
        &:hover{
            background: rgb(66, 66, 218);
        }
    }
}

#sign-in-mobile{
    display: none;
    margin-bottom: 10px;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    
    a:first-of-type{
        height: 100%;
        flex: 1;
        padding: 40px 0;
        border-right: 2px solid $pink;
    }
    a:last-of-type{
        flex: 1;
        padding: 40px 0;
    }
}

/******************* TABLET AND MOBILE ********************/

@media(max-width: 800px){
    #banner{
        justify-content: space-around;
    }

    #save-searches{
        padding-top: 0;
        padding-bottom: 20px;
        p{
            a{
                color: black;
                cursor: text;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        
    }
    #sign-in-mobile{
        display: flex;
    }
}


