/************************** SEARCH ********************/
#search{
    padding: 30px 20px;
    form{  
        display: flex;
        align-items: flex-end;
        padding: 10px 0;
        span{
            color: $white;
        }
    }
}

#keywords{
        flex: 2;
        margin-right: 4px;
        span{
            font-weight: bold;
        }
    
}

#classification{
    flex: 2;
    margin-right: 4px;
    cursor: pointer;
    display: block;
    
    option{
        &:first-child{
            display: none;
        }
    }
}

#suburb{
    flex: 2;
    span{
        font-weight: bold;
    } 
}

#btn-cont{
    flex: 1;
    margin-left: 4px;
    text-align: right;
    input{
        width: 100%;
        background: $pink-2;
        &:hover{
           background: rgb(226, 109, 129);
        }
    }
    a{
        span{
            font-size: 0.8rem;
            font-weight: bold;
            border: 1.5px solid;
            border-radius: 50%;
            display: inline-block;
            padding: 0.5px 5px;
            margin-bottom: 6px;
        }
        
    }
}

