/*********************** Navigation - main - top ***************************/
#header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-size: 0.8rem;
}

#nav-1 ul li {
  display: inline-block;
}

#nav-1 ul li a {
  display: block;
  padding: 8px 0;
  margin: 0 18px;
  text-decoration: none;
  color: #555;
  word-spacing: 0.05rem;
  letter-spacing: 0.03rem;
}

#nav-1 ul li a:hover {
  color: #9be99b;
}

#nav-1 ul li:first-child a {
  border-bottom: 3px solid #555;
  padding-bottom: 7px;
  font-weight: bold;
  cursor: text;
}

#nav-1 ul li:first-child a:hover {
  color: #555;
}

#region {
  padding-right: 20px;
}

#region ul {
  text-align: right;
}

#region ul li {
  display: inline-block;
}

#region ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  padding: 8px 0;
}

#region ul li a:hover {
  color: #9be99b;
}

#region ul li:first-child {
  margin-right: 12px;
}

#region ul li:first-child a {
  border-bottom: 3px solid #555;
  padding-bottom: 7px;
  font-weight: bold;
  cursor: text;
}

#region ul li:first-child a:hover {
  color: #555;
}

/*********************** TABLET AND MOBILE VIEW ********************/
@media (max-width: 800px) {
  #header-1 {
    display: none;
  }
}

/************************* Logo and sign in section ************/
#header-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#logo img {
  border-radius: 50%;
  height: 50px;
  margin: 10px;
}

#logo h1 {
  padding: 15px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

#sign-in {
  display: inline-block;
  color: blue;
}

#sign-in span {
  color: #555;
  padding: 0 10px;
}

.register {
  padding: 25px;
  padding-right: 20px;
  display: inline-block;
  word-spacing: 0.2rem;
}

.register a {
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.employer {
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid #555;
  word-spacing: 0.2rem;
}

.employer a {
  text-decoration: none;
}

.employer a:hover {
  text-decoration: underline;
}

/********************* TABS *************************/
#tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tabs ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#tabs ul li:first-child {
  background: blue;
}

#tabs ul li:first-child a {
  color: #f3f3f3;
}

#tabs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  padding: 15px 0;
  color: #555;
  font-size: 1.1rem;
}

@media (max-width: 800px) {
  #tabs {
    display: none;
  }
}

/************************** SEARCH ********************/
#search {
  padding: 30px 20px;
}

#search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 0;
}

#search form span {
  color: #f3f3f3;
}

#keywords {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 4px;
}

#keywords span {
  font-weight: bold;
}

#classification {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 4px;
  cursor: pointer;
  display: block;
}

#classification option:first-child {
  display: none;
}

#suburb {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#suburb span {
  font-weight: bold;
}

#btn-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4px;
  text-align: right;
}

#btn-cont input {
  width: 100%;
  background: #e45d74;
}

#btn-cont input:hover {
  background: #e26d81;
}

#btn-cont a span {
  font-size: 0.8rem;
  font-weight: bold;
  border: 1.5px solid;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5px 5px;
  margin-bottom: 6px;
}

/********************** BANNER **********************/
/* Are you hiring in a bushfire */
#bushfire {
  padding: 22px 0;
  text-align: center;
}

#bushfire a {
  color: blue;
}

/* Sign in or Register */
#info {
  font-size: 0.8rem;
  font-weight: bold;
  border: 1.5px solid;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5px 6.5px;
  margin-right: 10px;
  cursor: default;
}

#save-searches {
  padding: 40px 0;
  text-align: center;
}

#save-searches a {
  color: blue;
  cursor: pointer;
}

#save-searches a:hover {
  text-decoration: underline;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  text-transform: uppercase;
  font-weight: bold;
  background: url("img/banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#banner::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

#banner p {
  font-size: 2rem;
  padding: 20px;
  z-index: 10;
  color: #f3f3f3;
  text-shadow: -2px 2px 2px #555;
  font-family: 'Luckiest Guy', sans-serif;
  letter-spacing: 0.2rem;
}

#banner span:first-of-type {
  color: #e45d74;
  font-family: 'Luckiest Guy', sans-serif;
  letter-spacing: 0.2rem;
}

#banner span:last-of-type {
  white-space: nowrap;
}

#banner button {
  text-transform: capitalize;
  background: blue;
  z-index: 99;
}

#banner button:hover {
  background: #4242da;
}

#sign-in-mobile {
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sign-in-mobile div:first-of-type {
  background: blue;
  height: 100%;
}

#sign-in-mobile div:last-of-type {
  background: red;
}

/******************* TABLET AND MOBILE ********************/
@media (max-width: 800px) {
  #banner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #save-searches {
    padding-top: 0;
  }
  #save-searches a {
    color: black;
    cursor: text;
  }
  #save-searches a:hover {
    text-decoration: none;
  }
}

/******************* Footer *********************/
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 23px 0 23px;
}

#footer ul {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

#footer ul li {
  list-style: none;
  padding-top: 15px;
}

#footer ul li a {
  text-decoration: none;
  color: black;
}

#footer ul li a:hover {
  text-decoration: underline;
}

#privacy {
  padding: 0 23px 50px 23px;
}

#privacy ul li {
  display: inline-block;
  list-style: none;
  padding-right: 20px;
}

#privacy ul li a {
  text-decoration: none;
  color: black;
}

#privacy ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer ul {
    border-bottom: 1px solid #555;
  }
  #privacy ul li {
    display: list-item;
    padding-bottom: 20px;
  }
  #privacy:last-child {
    padding-bottom: 10px;
  }
}

/*************************  Reset styles  *************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f3f3f3;
}

/************************* Reusable classes ***********************/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.input {
  padding: 12px 0;
  padding-left: 10px;
  width: 100%;
  max-height: 50px;
  color: #555;
  border-radius: 4px;
}

.btn {
  padding: 11px 20px;
  color: #f3f3f3;
  max-height: 50px;
  font-weight: bold;
  letter-spacing: 0.04rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.background-1 {
  background: #f1e4e6;
}

.background-2 {
  background: blue;
}

.background-3 {
  background: #9be99b;
}

.background-4 {
  background: #7c7cd1;
}
/*# sourceMappingURL=style.css.map */