/*********************** Navigation - main - top ***************************/
#header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-size: 0.8rem;
}

#nav-1 ul li {
  display: inline-block;
}

#nav-1 ul li a {
  display: block;
  padding: 8px 0;
  margin: 0 18px;
  text-decoration: none;
  color: #555;
  word-spacing: 0.05rem;
  letter-spacing: 0.03rem;
}

#nav-1 ul li a:hover {
  color: #9be99b;
}

#nav-1 ul li:first-child a {
  border-bottom: 3px solid #555;
  padding-bottom: 7px;
  font-weight: bold;
  cursor: text;
}

#nav-1 ul li:first-child a:hover {
  color: #555;
}

#region {
  padding-right: 20px;
}

#region ul {
  text-align: right;
}

#region ul li {
  display: inline-block;
}

#region ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  padding: 8px 0;
}

#region ul li a:hover {
  color: #9be99b;
}

#region ul li:first-child {
  margin-right: 12px;
}

#region ul li:first-child a {
  border-bottom: 3px solid #555;
  padding-bottom: 7px;
  font-weight: bold;
  cursor: text;
}

#region ul li:first-child a:hover {
  color: #555;
}

/************************* Logo and sign in section ************/
#header-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#logo img {
  height: 50px;
  margin: 10px;
}

#logo h1 {
  padding: 15px 20px;
}

#sign-in {
  display: inline-block;
  color: blue;
}

#sign-in span {
  color: #555;
  padding: 0 10px;
}

.register {
  padding: 25px;
  padding-right: 20px;
  display: inline-block;
  word-spacing: 0.2rem;
}

.register a {
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.employer {
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid #555;
  word-spacing: 0.2rem;
}

.employer a {
  text-decoration: none;
}

.employer a:hover {
  text-decoration: underline;
}

/********************* TABS *************************/
#tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tabs ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#tabs ul li:first-child {
  background: blue;
}

#tabs ul li:first-child a {
  color: #f3f3f3;
}

#tabs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  padding: 15px 0;
  color: #555;
  font-size: 1.1rem;
}

/************************** SEARCH ********************/
#search {
  padding: 30px 20px;
}

#search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 0;
}

#search form span {
  color: #f3f3f3;
}

#keywords {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 4px;
}

#keywords span {
  font-weight: bold;
}

#classification {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-right: 4px;
  cursor: pointer;
  display: block;
}

#classification option:first-child {
  display: none;
}

#suburb {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#suburb span {
  font-weight: bold;
}

.btn-1 {
  width: 100%;
  padding: 14px;
  background: #e45d74;
  color: #f3f3f3;
  max-height: 50px;
  font-weight: bold;
  letter-spacing: 0.04rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

#btn-find {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4px;
  text-align: right;
}

#btn-find a span {
  font-size: 0.8rem;
  font-weight: bold;
  border: 1.5px solid;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5px 5px;
  margin-bottom: 6px;
}

/********************** BANNER **********************/
#bushfire {
  padding: 22px 0;
  text-align: center;
}

#bushfire a {
  color: blue;
}

#info {
  font-size: 0.8rem;
  font-weight: bold;
  border: 1.5px solid;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5px 6.5px;
  margin-right: 10px;
  cursor: default;
}

#save-searches {
  padding: 40px 0;
  text-align: center;
}

#save-searches a {
  color: blue;
  cursor: pointer;
}

#save-searches a:hover {
  text-decoration: underline;
}

#banner img {
  width: 100%;
}

/*************************  Reset styles  *************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f3f3f3;
}

/************************* Reusable classes ***********************/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.input {
  padding: 12px 0;
  padding-left: 10px;
  width: 100%;
  max-height: 50px;
  color: #555;
  border-radius: 4px;
}

.background-1 {
  background: #f1e4e6;
}

.background-2 {
  background: blue;
}
/*# sourceMappingURL=style.css.map */